{% extends 'base.html' %}

{% block title %}
SCOPE INDIA - Change Password
{% endblock %}

{% block content %}

<h2>Change Password</h2>

{% if messages %}

    {% for message in messages %}

        <p style="color: red;">
            {{ message }}
        </p>

    {% endfor %}

{% endif %}


<form method="POST">

    {% csrf_token %}

    <div>
        <label>Existing Password</label>

        <input
            type="password"
            name="existing_password"
            required
        >
    </div>

    <br>

    <div>
        <label>New Password</label>

        <input
            type="password"
            name="new_password"
            required
        >
    </div>

    <br>

    <div>
        <label>Confirm New Password</label>

        <input
            type="password"
            name="confirm_password"
            required
        >
    </div>

    <br>

    <button type="submit">
        Save Password
    </button>

</form>

<br>

<a href="{% url 'student_dashboard' %}">
    Back to Dashboard
</a>

{% endblock %}