{% extends 'base.html' %}

{% block content %}

<div class="login-container">

    <h2>Create New Password</h2>

    <p>
        This is your first login. Please create a new password.
    </p>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST">

        {% csrf_token %}

        <div>
            <label>New Password</label>
            <input type="password"
                   name="new_password"
                   required>
        </div>

        <div>
            <label>Confirm Password</label>
            <input type="password"
                   name="confirm_password"
                   required>
        </div>

        <button type="submit">
            Create Password
        </button>

    </form>

</div>

{% endblock %}